<main class="mat-app-background">
  <app-header [title]="title" [needBackButton]="!!currentArticle"></app-header>
  <ng-container *ngIf="!!currentArticle; else document">
    <app-article-viewer
      [article]="currentArticle?.pharases"
      (playPharase)="onPlayPharase($event)"
      (stopPharase)="onPlayOrStop()"
    ></app-article-viewer>
  </ng-container>

  <ng-template #document>
    <div [innerHTML]="currentDocument?.contents">かもすぞー</div>
  </ng-template>

  <app-player
    *ngIf="currentArticle"
    [isPlaying]="isPlaying"
    (play)="onPlayOrStop()"
    (changeRate)="onChangeRate($event)"
  ></app-player>
</main>
