<div class="container">
  <mat-card>
    <div
      class="pharase"
      *ngFor="let pharase of article; index as i"
      (click)="onPlayPharase(pharase.time)"
    >
      <div class="pharase">
        <span
          class="word"
          *ngFor="let word of englishPharases[i]"
          (dblclick)="onOpenWordDialog(word, $event)"
        >
          {{ word }}
        </span>
      </div>
      <div class="pharase-sub" *ngIf="pharase.pronaunce">
        {{ pharase.pronaunce }}
      </div>
      <div class="pharase-sub">
        {{ pharase.ja }}
      </div>
    </div>
  </mat-card>
</div>
