.container {
  padding: 30px 30px 120px 30px;
  @media screen and (max-width: 767px) {
    padding: 8px 8px 120px 8px;
  }
}

.pharase {
  margin-bottom: 16px;
}
.pharase {
  font-size: large;
  .word {
    margin-right: 4px;
    cursor: pointer;
  }
}
.pharase-sub {
  font-size: small;
  color: #93a5b1;
  user-select: none;
}
